  * {
    box-sizing: border-box;
    
  }
  
  body {
    display: grid;
    font-size: 16px;
    max-width: clamp(700px, 50%, 900px);
    padding: 0 2rem;
    max-inline-size: 100%;
    background-color:  white; 
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

   img {
    margin: 6px;
    display: inline-block;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 5px;
  }
      
     h2:hover {
      color: lightgreen;
      display: inline-block;
      padding: 0.1em 0.4em;
      font-size: 25px;
      margin: 8px;
      
    }
  

.workexperience h4:hover {
  color: blue;
}

 .workexperience p {
line-height: 2.0;
background-attachment: scroll;

  }

  .workexperience img {
    width: auto;
    margin-right: auto;
  }